numpy
tqdm
psutil
packaging
pre-commit
rich
click
fabric
contexttimer
ninja
torch==2.3.0
safetensors
einops
pydantic
ray
protobuf
gdown
pyav
tensorboard
timm
matplotlib
accelerate
diffusers
transformers
colossalai
omegaconf
xformers==0.0.26.post1
ftfy
rotary_embedding_torch
imageio
imageio-ffmpeg
SwissArmyTransformer==0.4.12
wandb==0.17.5
pytorch_lightning==2.3.3
kornia==0.7.3
beartype==0.18.5
